
@font-face {
    font-family: 'ge_inspiraregular';
    src: url('ge_inspira_regular-webfont.woff2') format('woff2'),
         url('ge_inspira_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'ge_inspiraregular';
}

body{
    background-color: #f6d7b0;

}

header {
    background-image: url('index.png');
    background-size: cover;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
}

main {
    padding: 20px;
}

.logo-container {
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    height: 120px;
    margin-top: -25px;
    
}

.logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 74px;
    font-weight: bold;

}

.peach-text {
    color: #92220f;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.about-icon {
    background-image: url('icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;   
}

#user-action {
    text-align: center;
}

button {
    background-color: #FF9966;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
}

button:hover {
    background-color: #FF6600;
}

#login-button, #signup-button {
    display: inline-block;
    width: 15%;
    margin: 0 auto;
}

#login-button{
    border-radius: 3px 0 0 3px;
}

#signup-button{
    border-radius: 0 3px 3px 0;
}


#login-button + #signup-button {
    margin-top: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.split {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFDAB9;
    border-radius: 3px;
    width: 45%;
    margin: 0 auto;
    height: 275px;
}

.left-section {
    flex: 2;
    text-align: center;
}

.left-section img {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 3px 0 0 3px;

}

.right-section {
    flex: 3;
    padding: 20px;
    color: #333;
}


.right-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.right-section p {
    font-size: 16px;
    line-height: 1.5;
}

.homes-section {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.recent-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.view-all-button {
    background-color: #FF9966;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-left: 5px;
}

.view-all-button:hover {
    background-color: #FF6600;
}
.homes-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-card {
    width: 250px;
    margin-bottom: 20px;
    background-color: #f8b878;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.6s;
}

.home-card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.home-image {
    max-width: 100%;
    height: auto;
}

.home-info {
    padding: 10px;
    text-align: center;
}

.home-location {
    font-weight: bold;
}

.home-value {
    color: black;
}

.home-link{
    text-decoration: none;
    color: inherit; 
}